
{% extends "base.html" %}





{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
          <h4 class="card-title"> Veuillez entrer la bande son à analyser  </h4>


      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">

            <tbody>



           <!-- Navbar Search-->

                <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" method="GET">
                    <div class="input-group">
                        <input class="form-control" name="imported" type="url" placeholder="chemin du son " aria-label="info" aria-describedby="info"  />
                        <button type="submit" id="cancel-btn" class="btn btn-default"  href="DecisionTreePred" name="date_filter" >Resultat</button>

                </div>

            </form>
                <h4 class="card-title"> Lancer le test covid 19 sur la bande son enregistrée : </h4>

                    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"  action='DecisionTreePred' method='GET'>
                        <input class="form-control" name="import" type="hidden" value="enregistrement/aaa.wav"  />
                    <button type='submit' id="cancel-btn" class="btn btn-default"> resultat</button>
                    </form>


           {% if messages %}
        <ul class="messages" id="messages-list">
        {% for message in messages %}
            {%if "signup" in message.tags %}
                    <div class="alert alert-success"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
             {%endif%}
        {% endfor %}
        {% for message in messages %}
            {%if "login" in message.tags %}
                    <div class="alert alert-success"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
             {%endif%}
        {% endfor %}
        </ul>
        {% endif %}
            </tbody>
          </table>


           <script>
               function updateProgress(progressBarElement, progressBarMessageElement, progress) {
                progressBarElement.style.width = progress.percent + "%";
                progressBarMessageElement.innerHTML = progress.current + ' of ' + progress.total + ' processed.';
            }

            var trigger = document.getElementById('progress-bar-trigger');
            trigger.addEventListener('click', function(e) {
            var bar = document.getElementById("progress-bar");
            var barMessage = document.getElementById("progress-bar-message");
            for (var i = 0; i <11; i++) {
            setTimeout(updateProgress, 500 * i, bar, barMessage, {
            percent: 10 * i,
            current: 10 * i,
            total: 100
    })
  }
})
           </script>



 </a>





























            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card  card-plain">
      <div class="card-header">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

{% endblock %}